{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
    <div class="g-date">
        <span>{{ "now"|date(particle.date.formats|default('d.m.Y')) }}</span>
    </div>
{% endblock %}
