@charset "UTF-8";

// Default Variables

// Slick icon entity codes outputs the following
// "\2190" outputs ascii character "←"
// "\2192" outputs ascii character "→"
// "\2022" outputs ascii character "•"

$slick-font-path: "./../fonts/" !default;
$slick-font-family: "FontAwesome" !default;
$slick-loader-path: "gantry-media:/" !default;
$slick-arrow-color: white !default;
$slick-dot-color: #165395 !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-prev-character: "\f104" !default;
$slick-next-character: "\f105" !default;
$slick-dot-character: "\f111" !default; //\f192 \f10c
$slick-dot-size: 6px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

@function slick-image-url($url) {
    @if function-exists(image-url) {
        @return image-url($url);
    }
    @else {
        @return url($slick-loader-path + $url);
    }
}

@function slick-font-url($url) {
    @if function-exists(font-url) {
        @return font-url($url);
    }
    @else {
        @return url($slick-font-path + $url);
    }
}

/* Slider */

.slick-list {
    .slick-loading & {
        background: $slick-arrow-color slick-image-url("/main/ajax-loader.gif") center center no-repeat;
    }
}

/* Icons */
@if $slick-font-family == "slick" {
    @font-face {
        font-family: "slick";
        src: slick-font-url("slick.eot");
        src: slick-font-url("slick.eot?#iefix") format("embedded-opentype"), slick-font-url("slick.woff") format("woff"), slick-font-url("slick.ttf") format("truetype"), slick-font-url("slick.svg#slick") format("svg");
        font-weight: normal;
        font-style: normal;
    }
}

/* Arrows */

.slick-prev,
.slick-next {
    z-index: 2;
    position: absolute;
    display: block;
    height: 4rem;
    width: 4rem;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 50vh;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: 0;
    border: none;
    outline: none;
    background-color: rgba(0,0,0,0.8);
    opacity: $slick-opacity-default;
    &:hover, &:focus {
        outline: none;
        //background: transparent;
        //color: transparent;
         opacity: $slick-opacity-on-hover;
        &:before {
            opacity: $slick-opacity-default;
        }
    }
    &.slick-disabled:before {
        opacity: $slick-opacity-not-active;
    }
    &:before {
        font-family: $slick-font-family;
        font-size: 2rem;
        line-height: 1;
        color: $slick-arrow-color;
        // opacity: $slick-opacity-default;
        // -webkit-font-smoothing: antialiased;
        // -moz-osx-font-smoothing: grayscale;
    }
}

.slick-prev {
    left: 0;
    [dir="rtl"] & {
        left: auto;
        right: 0;
    }
    &:before {
        content: $slick-prev-character;
        [dir="rtl"] & {
            content: $slick-next-character;
        }
    }
}

.slick-next {
    right: 0;
    [dir="rtl"] & {
        left: 0;
        right: auto;
    }
    &:before {
        content: $slick-next-character;
        [dir="rtl"] & {
            content: $slick-prev-character;
        }
    }
}

/* Dots */

.slick-dotted.slick-slider {
    //margin-bottom: 30px;
}

.slick-dots {
    //position: absolute;
    //bottom: 10vh;
    list-style: none;
    //display: block;
    text-align: center;
    //padding: 0;
    margin: 0;
    width: 100%;
    z-index: 2;
    li {
        position: relative;
        display: inline-block;
        margin: .5rem;
        //padding: 0;
        cursor: pointer;
        button {
            border: 0;
            background: transparent;
            color: transparent;
            background-color: white;
            display: block;
            height: 20px;
            width: 20px;
            border-radius: 50%;
            //line-height: 0;
            font-size: 0;
            //padding: 0;
            //opacity: .9;
            //cursor: pointer;
            //outline: none;
            //margin: auto;
            &:hover, &:focus {
                outline: none;
                &:before {
                    opacity: $slick-opacity-on-hover;
                }
            }
            &:before {
                position: absolute;
                top: 3px;
                left: 3px;
                width: 14px;
                height: 14px;
                content: "";
                border-radius: 50%;
                //content: $slick-dot-character;
                //font-family: $slick-font-family;
                //font-size: $slick-dot-size;
                //line-height: 1;
                //text-align: center;
                //color: $slick-dot-color;
                //opacity: 0;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                //margin: 1.2px 1.5px;
                //padding-left: 0;
                //background: $slick-dot-color-active;
                
            }
        }
        &.slick-active button:before {
            //color: $slick-dot-color-active;
            background: $slick-dot-color-active;
            opacity: $slick-opacity-on-hover;
            //font-size: 22px;
        }
    }
}
